<h3>Sign Up</h3>
<mat-horizontal-stepper [linear]="isLinear" #stepper >
    <mat-step [stepControl]="firstFormGroup" label="User">
        <form [formGroup]="firstFormGroup">
            <!-- <ng-template matStepLabel></ng-template> -->
            <br/>
            <br/>
            <mat-form-field>
                <label for="username" class="form-label">Username</label>
                <input matInput id="username" formControlName="username" class="border border-dark" required>
            </mat-form-field>
            <br/>
            <br/>
            <mat-form-field>
                <label for="password" class="form-label">Password</label>
                <input matInput id="password" formControlName="password" type="password" class="border border-dark" required>
            </mat-form-field>
            <br/>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup"  label="Profile">
        <form [formGroup]="secondFormGroup">
            <!-- <ng-template matStepLabel></ng-template> -->
            <mat-form-field>
                <label for="email" class="form-label">Email</label>
                <input matInput id="email" formControlName="email" type="email" class="border border-dark" required>
            </mat-form-field>
            <br/>
            <br/>
            <mat-form-field>
                <label for="phone" class="form-label">Phone</label>
                <input matInput id="phone" formControlName="phone" type="phone" class="border border-dark" >
            </mat-form-field>
            <br/>
            <br/>
            <mat-form-field>
                <label for="firstName" class="form-label">First Name</label>
                <input matInput id="firstName" formControlName="firstName" type="firstName" class="border border-dark" >
            </mat-form-field>
            <br/>
            <br/>
            <mat-form-field>
                <label for="lastName" class="form-label">Last Name</label>
                <input matInput id="lastName" formControlName="lastName" type="lastName" class="border border-dark" >
            </mat-form-field>
            <br/>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <mat-step  label="Done">
        <!-- <ng-template matStepLabel></ng-template> -->
        <p>You are now done.</p>
        <mat-list>
            <mat-list-item> <strong>User Name:</strong> {{ this.firstFormGroup.value.username }}</mat-list-item>
            <mat-list-item> <strong>Password:</strong> {{ this.firstFormGroup.value.password }}</mat-list-item>
            
            <mat-list-item> <strong>Email:</strong> {{ this.secondFormGroup.value.email }}</mat-list-item>
            <mat-list-item> <strong>Phone:</strong> {{ this.secondFormGroup.value.phone }}</mat-list-item>
            <mat-list-item> <strong>First Name:</strong> {{ this.secondFormGroup.value.firstName }}</mat-list-item>
            <mat-list-item> <strong>Last Name:</strong> {{ this.secondFormGroup.value.lastName }}</mat-list-item>
        </mat-list>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)="submit()" >Submit</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
<div *ngIf="errorOccured"  class="text-center text-danger">
    &nbsp;{{signupMessage}}. Please try again.
</div>