<div class="container-lg">
    <div id = "alert-bar">

    </div>
    <div id="return-holder" class="row m-1">

    </div>
    <div class="row">
        <div class = "d-flex justify-content-center" *ngIf="!reviewsLoaded">
            <div class="spinner-border"></div>
        </div>
        <div class = "flex-column">
            <div>
                <p>Restaurant Name : {{restaurant.name}}</p>
                <p>Restaurant Owner: {{restaurant.ownerName}}</p>
                <p>Address:</p>
                <p>{{restaurant.address}}</p>
                <p>{{restaurant.city}}</p>
                <p>{{restaurant.state}}</p>
                <p>{{restaurant.zipCode}}</p>
            </div>
        </div>
        
        <div class="d-flex justify-content-center bg-dark" >
            <div *ngIf = "!restaurantHasImages">
                <img src="https://i.pinimg.com/736x/77/7d/9c/777d9c6e187bfc29677c7de89aa73c5a.jpg" alt="default restaurant image" style="max-width: 500px; height: 50vh" />
            </div>
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let image of restaurant.restaurantImages" imageData="image" >
                    <div class="wrapper">
                        <img [src]="image.imgSrc" alt="image.imgName" style="max-width: 500px; height: 50vh" />
                    </div>
                    <div class="carousel-caption">
                        <h3>{{image.imgName}}</h3>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>


        <div>
            <div>&nbsp; </div>
        </div>
        <div class="flex-column" >
            Reviews:
            <div *ngFor="let review of restaurant.restaurantReviews" reviewData="review">
                <div style="padding: 1em; border: 2px solid black">
                    <h5>User Id: {{review.userId}}</h5>
                    <h5>User Name: {{review.userName}}</h5>
                    <h6>Review Date: {{review.timeCreated}}</h6>
                    <h6>Review rating: {{review.rating}}/5</h6>
                    <h6>Review text: {{review.reviewText}}</h6>
                    <button *ngIf="review.userId == sessionId" class="btn btn-primary m-2 mb-3" (click)="loadEditPage(review)" >Edit Review</button>
                    <button *ngIf="review.userId == sessionId" class="btn btn-primary m-2 mb-3" (click)="deleteReview(review)">Delete Review</button>
                    <div *ngIf="updateSuccessful">
                        <div>{{updateMessage}}</div>
                    </div>
                    <div *ngIf="deleteSuccessful">
                        <div>{{deleteMessage}}</div>
                    </div>
                </div>
                <div *ngIf="editing && editReviewId == review.reviewId">
                    <p>Rating:</p>
                    <input type="number" placeholder="{{review.rating}}" id="rating" name="rating" min="1" max="5" [(ngModel)]="editRating" />
                    <!-- <input type="text" placeholder="{{profile.email}}" id="email" name="email" [(ngModel)]="email" /> -->
                    <p>Text: </p>
                    <textarea id="reviewText" placeholder="{{review.reviewText}}"  id="reviewText" name="reviewText" [(ngModel)]="editReviewText" ></textarea>
                    <button class="btn btn-primary m-2 mb-3" (click)="sendEdit()">Send Edit</button>
                    <button class="btn btn-primary m-2 mb-3" (click)="cancelEditReview()">Cancel Edit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-wrap align-content-center justify-content-center" *ngIf="adding">
        <!-- <div class="d-flex flex-wrap align-content-center justify-content-center"> -->
            <div>
                <p>Rating:</p>
                <select name="rating" id="rating" [(ngModel)] = "rating">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                </select>
                <!-- <input type="text" placeholder="{{profile.email}}" id="email" name="email" [(ngModel)]="email" /> -->
                <p>Text: </p>
                <textarea id="reviewText" name="reviewText" [(ngModel)] = "reviewText" ></textarea>
                <!-- <input type="text" placeholder="{{profile.phone}}" id="phone" name="phone" [(ngModel)]="phone" /> -->
            </div>
        </div>



    <!-- <div> -->
    <div *ngIf="!adding && sessionActive" >
        <button class="btn btn-primary m-2 mb-3" (click)="addReview()">Add Review</button>
    </div>
    <div *ngIf="adding">
        <button class="btn btn-primary m-2 mb-3" (click)="sendAddReview()" >Send Review</button>
        <button class="btn btn-primary m-2 mb-3"  (click)="cancelAddReview()">Cancel Review</button>
        <!-- <button class="btn btn-primary m-2 mb-3" (click)="changeAccountStatus()" >Deactivate Account</button> -->
    </div>


</div>
