<div class="container my-3">

    <!-- reactive form version -->
    <div class="card">
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <div class="my-2">
                    <input type="text" class="form-control" formControlName="username" placeholder="Username" /> 
                </div>
                <div class="my-2">
                    <input type="password" class="form-control" formControlName="password" placeholder="Password" /> 
                </div>
            </div>
            <div *ngIf="errorOccured"  class="text-center text-danger">
                &nbsp;{{loginMessage}}. Please try again.
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
    

    <!-- template driven form version -->

</div>

<!-- <div>
    <h2>Login As User</h2>
    <ul>
        <li class="clickBtn" (click)="userHomeRedirect('7')">User 7</li>
        <li class="clickBtn" (click)="userHomeRedirect('8')">User 8</li>
        <li class="clickBtn" (click)="userHomeRedirect('9')">User 9</li>
        <li class="clickBtn" (click)="userHomeRedirect('10')">User 10</li>
        <li class="clickBtn" (click)="userHomeRedirect('11')">User 11</li>
        <li class="clickBtn" (click)="userHomeRedirect('12')">User 12</li>
        <li class="clickBtn" (click)="userHomeRedirect('17')">User 17</li>
        <li class="clickBtn" (click)="userHomeRedirect('19')">User 19</li>
        <li class="clickBtn" (click)="userHomeRedirect('20')">User 20</li>
    </ul>
</div>
<router-outlet></router-outlet> -->
