<div class="container-lg">
    <div id = "alert-bar">

    </div>
    <div id="return-holder" class="row m-1">

    </div>
    <div class="row">
        <div class = "d-flex justify-content-center" *ngIf="!reviewsLoaded">
            <div class="spinner-border"></div>
        </div>
        <div>
            <div>No Reviews to Display. We look forward to your first review with us!</div>
        </div>
        <div class="flex-column" style="border: 2px solid red; padding: 1rem;">
            User {{usersID}} Reviews:
            <app-review-card *ngFor="let review of allReviews" [reviewData]="review" ></app-review-card>
        </div>
    </div>
</div>