<div class="container-lg">
    <div id = "alert-bar">

    </div>
    <div id="return-holder" class="row m-1">

    </div>
    <div class="row">
        <div class = "d-flex justify-content-center" *ngIf="!reviewsLoaded">
            <div class="spinner-border"></div>
        </div>
        <div class="flex-column" style="border: 2px solid red; padding: 1rem;">
            User {{usersID}} Reviews:
            <div *ngFor="let review of allReviews" reviewData="review">
                <div style="padding: 1em; border: 2px solid blue;">
                    <h5>Review text: {{review.reviewText}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
